.container {
  margin: 0 auto;
  padding: 0 30px;
}

.container>div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  row-gap: 20px;
  justify-content: center;
  align-items: start;
  justify-items: center;

  padding-bottom: 50px;
}